html,
body,
#root,
.app-wrapper,
.wrapper {
    height: 100%;
}

.page {
    width: 100%;
    display: block;
    background-color: #f8f9fa;
    overflow-y: auto;
}

.page .page-header {
    font-size: 18px;
    padding: 15px;
    background-color: #FFF;
    box-shadow: 0 0 6px #00000038;
    font-weight: bold;
}

/* todos */
.todos .todos-options {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.todos .todos-options-left {
    display: flex;
    align-items: center;
}
.todos .todos-options-right {
    display: flex;
    align-items: center;
}
.todos .todos-options a {
    border-right: 1px solid #e0e0e0;
    padding: 0 15px;
}
.todos .todos-options a:last-of-type {
    border-right: 0 solid #e0e0e0;
}
.todos .todos-options .todos-options-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFF;
    width: 100%;
    margin-top: 10px;
}
@media (min-width: 768px){
    .todos .todos-options .todos-options-search {
        width: auto;
        margin-top: 0;
    }
}
.todos .todo {
    background-color: #FFF;
    box-shadow: 0 0 6px #00000026;
    margin-bottom: 20px;
    border-left: 5px solid #85CDF4;

}

.todos .todo:nth-child(2n) {
    background-color: #FFF;
    box-shadow: 0 0 6px #00000026;
    margin-bottom: 20px;
    border-left: 5px solid #ffc107;

}
.todos .todo:nth-child(3n) {
    background-color: #FFF;
    box-shadow: 0 0 6px #00000026;
    margin-bottom: 20px;
    border-left: 5px solid #5F497E;

}

/**/
.todos .todo-wrapper {
    padding: 15px;
}
.todos .todo .todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todos .todo .todo-header .todo-header-title {
    display: flex;
    align-items: center;
    color: #c9c9c9;
    font-size: 18px;
}
.todos .todo .todo-header .todo-header-options {
    display: flex;
}
.todos .todo .todo-header .todo-header-options button {
    margin-right: 5px;
}
.todos .todo .todo-body {
    display: flex;
    width: calc(100% - 22px);
    margin-left: auto;
    margin-top: 10px;
}
.todos .todo .todo-body .form-group {
    margin: 0;
    width: 100%;
}
.todos .todos-form {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    background-color: #ececec;
    padding: 15px;
}

/* classes */
.content .content-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    flex-wrap: wrap;
}
@media(min-width: 768px){
    .content .content-navigation {
        justify-content: space-between;
    }
}
.content .content-navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.content .content-navigation ul a {
    border-right: 1px solid #e0e0e0;
    border-bottom: 2px solid #000;
    margin-left: 10px;
}
.content .content-navigation ul a:last-of-type {
    border-right: 0 solid #e0e0e0;
}
.content .notes-list {
    display: flex;
    flex-direction: column;
}
@media(min-width: 768px){
    .content .notes-list {
        flex-direction: row;
    }
}
.content .notes-list .notes-list-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
@media(min-width: 768px){
    .content .notes-list .notes-list-holder {
        width: 40%;
        border-bottom: none;
    }
}
.content .notes-list .notes-list-holder .search-control {
    padding: 20px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    height: 80px;
}


.content .notes-list .notes-list-holder .note-side-holder {
    padding: 15px;
    border-left: 6px solid #85CDF4;
    border-bottom: 1px solid #e0e0e0;
}

.content .notes-list .notes-list-holder .note-side-holder:nth-child(2n) {
    padding: 15px;
    border-left: 6px solid #ffc107;
    border-bottom: 1px solid #e0e0e0;
}

.content .notes-list .notes-list-holder .note-side-holder:nth-child(3n) {
    padding: 15px;
    border-left: 6px solid #5F497E;
    border-bottom: 1px solid #e0e0e0;
}


.content .notes-list .notes-list-holder .note-side-holder:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}
.content .notes-list .notes-list-holder .note-side-holder:last-of-type {
    border-bottom: 0 solid #e0e0e0;
}
.content .notes-list .notes-list-holder .note-side-holder h5 {
    color: #828282;
    font-size: 18px;
}
.content .notes-list .notes-list-read {
    display: flex;
    width: 100%;
    background-color: #FFF;
    flex-direction: column;
}
@media(min-width: 768px){
    .content .notes-list .notes-list-read {
        width: 60%;
    }
}
.content .notes-list .notes-list-read .notes-list-read-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    height: 80px;
    padding: 15px;
}
.content .notes-list .notes-list-read .notes-list-read-body {
    display: flex;
    align-items: center;
    padding: 15px;
}
.content .notes-list .notes-list-read .notes-list-read-body div:not(.form-group) {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.content .notes-list .notes-list-read .notes-list-read-body h3 {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #e0e0e0;
}
.content .question {
    position: relative;
    margin-bottom: 50px;
    background-color: #e4e4e4;
}
.content .question:not(:last-of-type):after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 50%;
    width: 98%;
    height: 2px;
    background-color: #c7c7c7;
    border-radius: 5px;
    transform: translateX(-50%);
}
.content .question-holder {
    position: relative;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 6px #00000042;
    padding: 20px;
}
.content .question-holder .question-holder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .question-holder .question-holder-header > div {
    display: flex;
    align-items: center;
}
.content .question-holder .question-holder-header img {
    width: 50px;
    margin-right: 20px;
}
.content .question .question-comments {
    display: block;
    width: 95%;
    margin-left: auto;
    padding: 15px 15px 10px 0;
}
.content .question .question-comments .comment {
    background-color: #FFF;
    margin-bottom: 10px;
    box-shadow: 0 0 6px #00000045;
    padding: 15px;
}
.content .question .question-comments .comment-body {
    font-size: 14px;
}
.content .question .question-comments .comment-footer {
    display: flex;
    font-size: 12px;
    align-items: center;
}
.content .question .question-comments .comment-footer > div:first-of-type {
    padding: 0 20px 0 0;
    border-right: 1px solid #000;
}
.content .question .question-comments .comment-footer > div:last-of-type {
    padding: 0 20px;
    font-size: 16px;
}
.content .question .question-comments .comment-footer .written {
    text-transform: uppercase;
    font-weight: bold;
    color: #CCC;
}
.content .question .questions-comment-form {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    background-color: #ececec;
    padding: 15px;
}
.content .question-form {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    background-color: #ececec;
    padding: 15px;
}


/* reviews */
.reviews .review {
    position: relative;
    margin-bottom: 50px;
    background-color: #e4e4e4;
}
.reviews .review:first-of-type {
    margin-top: 25px;
}
.reviews .review:not(:last-of-type):after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 50%;
    width: 98%;
    height: 2px;
    background-color: #c7c7c7;
    border-radius: 5px;
    transform: translateX(-50%);
}
.reviews .review-holder {
    position: relative;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #ffc107;
    padding: 20px;
}
.reviews .review-holder .review-holder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews .review-holder .review-holder-header > div {
    display: flex;
    align-items: center;
}
.reviews .review-holder .review-holder-header img {
    width: 50px;
    margin-right: 20px;
}
.reviews .review-holder .review-holder-body {
    font-size: 14px;
    margin-top: 15px;
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
}
.reviews .reviews-options {
    margin: 15px 0;
}

.reviews .reviews-form {
    width: 98%;
    margin: auto;
    background-color: #FFF;
    padding: 30px;
}


/* component not found */
.not-found {
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #c1c1c1;
}

.search-input {
    padding: 10px 10px;
    height: 52px;
    position: relative;
}

.search-input::before {
    /*content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');*/
    display: block;
    position: absolute;
    width: 15px;
    z-index: 3;
    height: 15px;
    font-size: 20px;
    top: 11px;
    left: 16px;
    line-height: 32px;
    opacity: 0.6;
}

.search-input > input {
    width: 100%;
    font-size: 18px;
    border: none;
    line-height: 22px;
    padding: 5px 10px 5px 25px;
    height: 32px;
    position: relative;
}


.search-input > input:focus {
 outline: none;
}
